<table class="table table-bordered table-hover">

  <tr>
    <th COLSPAN="2" class="text-center"><u>Monthly Budget</u></th>
  </tr>

  <tr>
    <td><strong>Income:</strong></td>
    <td><%= number_with_delimiter(@budget.income_in_months, :delimiter => ',') %></td>
  </tr>

  <tr>
    <td><strong>Tax Rate:</strong></td>
    <td><%= @budget.translate_state_to_tax %></td>
  </tr>

  <tr>
    <td><strong>Income after taxes:</strong></td>
    <td>
    <%= number_with_delimiter(@budget.income_after_taxes_in_months, :delimiter => ',') %>
    </td>
  </tr>

  <tr>
    <td><strong>Housing:</strong></td>
    <td><%= number_with_delimiter(@budget.housing, :delimiter => ',') %></td>
  </tr>

  <tr>
    <td><strong>Cable &amp; Internet:</strong></td>
    <td><%= number_with_delimiter(@budget.cable_internet, :delimiter => ',') %></td>
  </tr>

  <tr>
    <td><strong>Utilities:</strong></td>
    <td><%= number_with_delimiter(@budget.utilities, :delimiter => ',') %></td>
  </tr>

  <tr>
    <td><strong>Laundry:</strong></td>
    <td><%= number_with_delimiter(@budget.laundry, :delimiter => ',') %></td>

  </tr>

  <tr>
    <td><strong>Commute:</strong></td>
    <td><%= number_with_delimiter(@budget.commute, :delimiter => ',') %></td>
  </tr>

  <tr>
    <td><strong>Food:</strong></td>
    <td><%= number_with_delimiter(@budget.food, :delimiter => ',') %></td>
  </tr>

  <tr>
    <td><strong>Debt Payments:</strong></td>
    <td><%= number_with_delimiter(@budget.debt_service, :delimiter => ',') %></td>
  </tr>

  <tr>
    <td><strong>Investing:</strong></td>
    <td><%= number_with_delimiter(@budget.investing, :delimiter => ',') %></td>
  </tr>

  <tr>
    <td><strong>Emergency:</strong></td>
    <td><%= number_with_delimiter(@budget.emergency, :delimiter => ',') %></td>
  </tr>

  <tr>
    <td><strong>Disposable income:</strong></td>
    <td><%= number_with_delimiter(@budget.disposable_income_calc, :delimiter => ',') %></td>
  </tr>

</table>
