<table>

  <tr>
    <th COLSPAN="2" class="text-center"><u>Monthly Budget</u></th>
  </tr>

  <tr>
    <td><strong>Income:</strong></td>
    <td><%= @budget.income_in_months %></td>
  </tr>

<!--   <tr>
    <td><strong>Healthcare:</strong></td>
    <td><%#= @budget.healthcare %></td>
  </tr> -->

  <tr>
    <td><strong>Tax Rate:</strong></td>
    <td><%= 0.45 %></td>
  </tr>

  <tr>
    <td><strong>Income after taxes:</strong></td>
    <td><%= @budget.income_after_taxes_in_months %></td>
  </tr>

  <tr>
    <td><strong>Housing:</strong></td>
    <td><%= @budget.housing %></td>
  </tr>

  <tr>
    <td><strong>Cable &amp; Internet:</strong></td>
    <td><%= @budget.cable_internet %></td>
  </tr>

  <tr>
    <td><strong>Utilities:</strong></td>
    <td><%= @budget.utilities %></td>
  </tr>

  <tr>
    <td><strong>Laundry:</strong></td>
    <td><%= @budget.laundry %></td>
  </tr>

  <tr>
    <td><strong>Commute:</strong></td>
    <td><%= @budget.commute %></td>
  </tr>

  <tr>
    <td><strong>Food:</strong></td>
    <td><%= @budget.food %></td>
  </tr>

  <tr>
    <td><strong>Debt Payments:</strong></td>
    <td><%= @budget.debt_service %></td>
  </tr>

  <tr>
    <td><strong>Investing:</strong></td>
    <td><%= @budget.investing %></td>
  </tr>

  <tr>
    <td><strong>Emergency:</strong></td>
    <td><%= @budget.emergency %></td>
  </tr>

  <tr>
    <td><strong>Disposable income:</strong></td>
    <td><%= @budget.disposable_income %></td>
  </tr>

</table>
