<p id="notice"><%= notice %></p>

<p>
  <strong>Income:</strong>
  <%= @budget.income %>
</p>

<p>
  <strong>Healthcare:</strong>
  <%= @budget.healthcare %>
</p>

<p>
  <strong>State:</strong>
  <%= @budget.state %>
</p>

<p>
  <strong>Income after taxes:</strong>
  <%= @budget.income_after_taxes %>
</p>

<p>
  <strong>Housing:</strong>
  <%= @budget.housing %>
</p>

<p>
  <strong>Cable internet:</strong>
  <%= @budget.cable_internet %>
</p>

<p>
  <strong>Utilities:</strong>
  <%= @budget.utilities %>
</p>

<p>
  <strong>Laundry:</strong>
  <%= @budget.laundry %>
</p>

<p>
  <strong>Commute:</strong>
  <%= @budget.commute %>
</p>

<p>
  <strong>Food:</strong>
  <%= @budget.food %>
</p>

<p>
  <strong>Debt service:</strong>
  <%= @budget.debt_service %>
</p>

<p>
  <strong>Investing:</strong>
  <%= @budget.investing %>
</p>

<p>
  <strong>Emergency:</strong>
  <%= @budget.emergency %>
</p>

<p>
  <strong>Disposable income:</strong>
  <%= @budget.disposable_income %>
</p>

