<%= form_for(@budget) do |f| %>

  <div class="field">
    <%= f.label :food %>
    <%= f.number_field :food %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<%= render 'show' %>