<h1 class="col-md-4 col-centered">Sign up</h1>

<div class="row">
  <div class="col-md-3 col-xs-4 col-centered">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control", autofocus: true %>
      </div><br>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div><br>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>