<%= form_for(@budget) do |f| %>

  <div class="field">
    <%= f.label :emergency %>
    <%= f.number_field :emergency %>
  </div>

  <%= hidden_field_tag(:section, "emergency") %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

