<h2> How much do you plan on food a month? </h2>

<%= form_for(@budget) do |f| %>

  <div class="field">
    <%= f.label :housing %>
    <%= f.number_field :housing %>
  </div>

  <%= hidden_field_tag(:section, "housing") %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
