<h2> How much do you plan on saving a month? </h2>

<%= form_for(@budget) do |f| %>

  <div class="field">
    <%= f.label :investing %>
    <%= f.number_field :investing %>
  </div>

  <%= hidden_field_tag(:section, "investing") %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>