<h2>What is you monthly laundry budget?</h2>

<div class="row-fluid">
  <%= form_for(@budget) do |f| %>

    <div class="form-group col-md-3 col-xs-3">
      <%= f.number_field :laundry, class: "form-control", autofocus: true %>
    </div>

    <div class="row">
      <%= f.submit "Next", class: "btn btn-default" %>
    </div>

    <%= hidden_field_tag(:section, "laundry") %>
  <% end %>

  <%= image_tag("laundry.png") %>
</div>
